extends layout

block scripts
  include partials/spaceScripts

block content
  a.logout(href="/logout") Logout

  ul.space-list
    each space in user.spaces
      li
        a(href='/s/#{space.spaceKey}')=space.name
    li
      form.add-space(action="/s/new", method="post")
        input(type="text", name="space[name]", placeholder="New space name")
        input(type="submit", style="visibility: hidden;")

  - creator = space.creator
  - isCreator = false
  if user.id == creator.id
    - isCreator = true

  ul.user-list
    each user in space.users
      //- can only delete users if creator, can never delete creator
      if user.id != creator.id && isCreator
        li.deletable-user(data-id=user.id)=user.name
      else
        li(data-id=user.id)=user.name

    form.add-user
      input(type="text", name="user[email]", placeholder="User's email address")
      input(type="submit", style="visibility: hidden;")

  #drop.panel
    form(action="http://scrap_images.s3.amazonaws.com",method="post",enctype="multipart/form-data",class="direct-upload")
      input(type="hidden",name="key")
      input(type="hidden",name="AWSAccessKeyId",value="AKIAJQ7VP2SMGLIV5JQA")
      input(type="hidden",name="acl",value="public-read")
      input(type="hidden",name="policy")
      input(type="hidden",name="signature")
      input(type="hidden",name="success_action_status",value="201")
      input(type="hidden",name="Content-Type")
      input(class="file-input",name="file",type="file")

  section.space

    h1.name=space.name

    section.content

      each element in space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        article(id=element.id, class=element.contentType, style="top:#{element.y}px;left:#{element.x}px;z-index:#{element.z};"+"transform:scale(#{element.scale},#{element.scale});-webkit-transform-origin: top left")
          case element.contentType
            when 'image'
              include partials/contentTypes/image
            when 'website'
              include partials/contentTypes/website
            default
              include partials/contentTypes/text

    .delete

