extends layout

block scripts
  include partials/spaceScripts

block content
  header 
    ul.spaces.menu
      each space in user.spaces
        li
          a(href='/s/#{space.spaceKey}')=space.name
      li
        form.add-space(action="/s/new", method="post")
          input(type="text", name="space[name]", placeholder="Create a new space")
          input(type="submit")
  
    - creator = space.creator
    - isCreator = false
    if user.id == creator.id
      - isCreator = true
  
    ul.users.menu
      each user in space.users
        if user.id != creator.id && isCreator
          li.deletable-user(data-id=user.id)=user.nam
        else
          li(data-id=user.id)=user.name
        li
          form.add-user
            input(type="text", name="user[email]", placeholder="Add someone to this space")
            input(type="submit", style="visibility: hidden;")
        li
          a.logout(href="/logout") Logout

  section.space

    h1.name=space.name

    section.content

      each element in space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        article(id=element.id, class=element.contentType, style="top:#{element.y}px;left:#{element.x}px;z-index:#{element.z};"+"transform:scale(#{element.scale},#{element.scale});-webkit-transform-origin: top left")
          case element.contentType
            when 'image'
              include partials/contentTypes/image
            when 'website'
              include partials/contentTypes/website
            default
              include partials/contentTypes/text

    .delete

