extends layout

block scripts
  include partials/scripts

block content
  section.space

    h1=space.name

    section.content

      each element in space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 300 * element.scale) > maxX
          - maxX = (element.x + 300 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y > maxY
          - maxY = element.y

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        article(id=element.id, class=element.contentType, style="top:#{element.y}px;left:#{element.x}px;z-index:#{element.z};"+"transform:scale(#{element.scale},#{element.scale});-webkit-transform-origin: top left")

          include partials/articleBody

    .delete

